<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="lead">Xello World!! using Angular 6 and Bootstrap 3</h2>
      <p>Reusable button component</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

