<div class="container-fluid">
    <div class="button__holder">
      <app-button [btnLabel]= "'Continue'"
                  [isOpen]="isOpen"
                  [tooltipContent]= "'This is the button 1 message'"
                  ></app-button>
      <app-button [btnLabel]= "'Next'"
                  [tooltipContent]= "'This is the button 2 message'"
      ></app-button>
    </div>
</div>
