<div class="container-fluid">
    <div class="my__tooltip" *ngIf="isOpen" #localElement role="tooltip">
      <div class="arrow_box"></div>
      {{tooltipContent}}
    </div>
    <button class="btn btn-success button__comp" (click)="execFn()" role="button">
      {{btnLabel}}
    </button>
</div>

