.my__tooltip{
  background: darkslategray;
  padding: 5px;
  color: #fff;
  position: absolute;
  bottom: 90%;

    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-top-color: darkslategray;
      border-width: 10px;
      margin-left: -10px;
    }
    &:before {
      border-top-color: darkslategray;
      border-width: 11px;
      margin-left: -11px;
    }
}
.button__comp{
  min-width: 100px;

}
.open{
  display: block;
}
.hide {
  visibility: hidden;
}
button{
  margin:0 5px;
}
